<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jdbc="http://www.springframework.org/schema/jdbc"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<context:annotation-config />

	<bean class="com.github.longkai.tx.config.Spring" />

	<!--测试数据库ddl以及脚本，会删除表重新注入测试数据，务必使用在开发与测试模式下，其他情况下一定将下面的结点注释或者删除！-->
	<!--<jdbc:initialize-database data-source="dataSource">
		<jdbc:script location="classpath:scheme.sql" encoding="UTF-8" execution="INIT" />
	</jdbc:initialize-database>-->

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.github.longkai.tx.repo" />
		<property name="markerInterface" value="com.github.longkai.tx.repo.BaseRepo" />
	</bean>
</beans>